<div class="mb-3 text-center">
  <h1>Sign In</h1>
</div>

<%= form_with url: sign_in_path do |form| %>
  <div class="shadow p-3 mt-5 mb-3 bg-body rounded">
    <!-- form fields -->
    <div class="mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", placeholder: "user@email.com" %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <!-- submit button -->
    <%= form.submit "Sign In", class: "btn btn-primary" %>
    <%= link_to "forgot your password?", password_reset_path%>
  </div>
<% end %>