<div class="mb-3 text-center">
  <h1>Reset your password</h1>
</div>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
  <!-- alert error message(s) -->
  <%= render "shared/form_errors", form: form %>

  <div class="shadow p-3 mt-5 mb-3 bg-body rounded">
    <!-- form fields -->
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "re-enter password" %>
    </div>
  </div>

  <!-- submit button -->
  <div class="d-flex justify-content-between">
    <%= form.submit "Reset Password", class: "btn btn-primary" %>
  </div>
<% end %>